   .sign {
    float: right; /* Выравнивание по правому краю */
    border: 1px solid #333; /* Параметры рамки */
    padding: 7px; /* Поля внутри блока */
    margin: 10px 0 5px 5px;  /* Отступы вокруг */
    background: #f0f0f0; /* Цвет фона */ 
    text-align: center; /* Выравнивание по центру */
   }
   .sign p {
    margin: 0 auto 5px; /* Отступы вокруг абзаца */
   }
